@font-face {
    font-family: 'Rebond';
    src: url('../font/rebond/Rebond_Grotesque/Rebond Grotesque.otf');
}

main {
    max-width: 1080px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    font-family: 'Rebond', serif;
    gap: 15px;
}

@media screen and (max-width: 1080px) {
    main {
        grid-template-columns: 1fr;
    }
}

.right,
.left {
    padding: 15px;
}

.left {

}

.left h1 {
    font-size: 2em;
    font-weight: 100;
    margin-bottom: 15px;
    margin-top: 25px;
}

.left h2 {
    font-size: 1.2em;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 10px;
    color: #5d5d5d;
}

.left h3 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 20px;
}

.left p {
    font-size: 1em;
    font-weight: 100;
    margin-top: 0;
    margin-bottom: 15px;
    color: #5d5d5d;
}

.left .contact {
    display: grid;
    gap: 5px;
    margin-bottom: 15px;
}

.left .contact div {
    display: grid;
    gap: 5px;
}

.left .contact a:hover,
.left .site a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.left .contact a,
.left .site a {
    color: inherit;
    text-decoration: none;
}

.left .contact label {
    font-weight: bold;
}

.right {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.right > div {
    grid-column: 1 / 3;
}

.right .bar {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-bottom: 15px;
}

.right h2 {
    font-size: 1.4em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
}

.right .other {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 15px;
}

.right .formation,
.right .experience {
    margin-bottom: 25px;
}

.right .formation .content,
.right .experience .content {
    display: grid;
    gap: 10px;
}

.right .formation .content .item {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 55% 1fr;
}

.right .experience .content .item {
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 45% 1fr;
}

@media screen and (max-width: 1080px) {
    .right .formation .content .item {
        grid-template-columns: repeat(2, 1fr);
    }

    .right .experience .content .item {
        grid-template-columns: repeat(2, 1fr);
    }

    .right .formation .content .item .date,
    .right .experience .content .item .date {
        grid-column: 1 / 3;
    }
}

.right .formation .content .item .title,
.right .experience .content .item .title {
    font-weight: bold;
}

.right .formation .content .item .school,
.right .experience .content .item .school {
    font-weight: 100;
}

.right .formation .content .item .date,
.right .experience .content .item .date {
    text-align: right;
    color: #5d5d5d;
}

.right .other .skills {

}

.right .other .langs .content,
.right .other .skills .content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.right .other .langs .content .lang,
.right .other .skills .content .skill{
    display: grid;
    gap: 5px;
}

.right .other .langs .content .lang h3,
.right .other .skills .content .skill h3 {
    font-weight: bold;
}

.right .hobbies .content {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
}

.right .hobbies .content .item {
    display: grid;
    gap: 5px;
    grid-template-columns: 1;
}

.right .hobbies .content .item h3 {
    font-weight: bold;
}

a.download,
a.download:visited {
    color: inherit;
    text-decoration: underline;
    text-decoration-style: dotted;
    margin: 15px;
}

a.download:hover,
a.download:active,
a.download:focus {
    color: #5d5d5d;
}