/*importer la font rebond grotesque dans le dossier font*/
@font-face {
    font-family: 'Rebond';
    src: url('../font/rebond/Rebond_Grotesque/Rebond Grotesque.otf');
}

@font-face {
    font-family: 'Throwupz';
    src: url('../font/throwupz/Throwupz.ttf');
}

pre img {
    max-width: 150px;
}

a {
    color: black;
}

a:hover {
    opacity: .5;
}

.title {
    font-size: 1em;
}

.subtitle {
    font-size: 0.8em;
    font-weight: 400;
    margin-bottom: 0;
    color: #999;
}

strong {
    background-color: black;
    color: white;
}

span {
    text-decoration: underline;
    text-decoration-style: dotted;
}

.lastfm {
    position: relative;
    width: fit-content;
}

.playing {
    position: absolute;
    width: 20px;
    display: flex;
    left: calc(100% + 15px);
}

.now.playing .bar {
    position: relative;
    margin-right: 1px;
    width: 5px;
    height: 1px;
    overflow: hidden;
    background: black;
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.paused.playing .bar {
    animation-iteration-count: 1;
}

.n1 {
    animation-delay: 0.5s;
}
.n2 {
    animation-delay: 0.2s;
}
.n3 {
    animation-delay: 1.2s;
}
.n4 {
    animation-delay: 0.9s;
}
.n5 {
    animation-delay: 2.3s;
}
.n6 {
    animation-delay: 1.3s;
}
.n7 {
    animation-delay: 3.1s;
}
.n8 {
    animation-delay: 1.9s;
}
@keyframes pulse {
    0% {
        height: 1px;
        margin-top: 0;
    }
    10% {
        height: 10px;
        margin-top: -10px;
    }
    50% {
        height: 5px;
        margin-top: -5px;
    }
    60% {
        height: 8px;
        margin-top: -8px;
    }
    80% {
        height: 15px;
        margin-top: -15px;
    }
    100% {
        height: 1px;
        margin-top: 0;
    }
}